<div class="col-md-6">
  <h1><%= @product.name %></h1>
  <h3><%= @product.price %></h3>
  <%= image_tag @product.image, class: "img-responsive product-image" %>
  <h5><%= @product.description %></h5>
  <br>
  <%= link_to "Home", "/products" %>
  <%= link_to "Edit", "/products/#{@product.id}/edit" %>
  <%= link_to "Delete", "/products/#{@product.id}", method: :delete, data:{confirm: "Are you sure?"} %>
</div>

