<div class="col-md-6">
  <h2><%= @product.sale_message %></h2>
  <h1><%= @product.name %></h1>
  <h2><%= @supplier.name %></h2>
  <h3>Price: $<%= @product.price %></h3>
  <h3>Tax: $ <%= @product.tax %></h3>
  <hr>
  <h3>Total: $ <%= @product.total %></h3>
  <p>Images:</p>
  <% @product.images.each do |image| %>
    <%= image_tag image.url, class: "img-responsive product-image" %>
  <% end %>
  <h5><%= @product.description %></h5>
  <br>

  <%= form_tag '/orders', method: :post do %>
    <div class="form-group">
      <%= label_tag :quantity %>
      <%= text_field_tag :quantity %>
    </div>
      <%= hidden_field_tag :product_id, @product.id %>

      <%= submit_tag "Buy Now!", class: "btn btn-default" %>

  <% end %>

  <hr>
  <%= link_to "Home", "/products" %>
  <%= link_to "Edit", "/products/#{@product.id}/edit" %>
  <%= link_to "Delete", "/products/#{@product.id}", method: :delete, data:{confirm: "Are you sure?"} %>
</div>

